.donation-heading {
    font: normal normal bold 28px/36px Helvetica;
    letter-spacing: 0px;
    color: #354463;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.donation-heading p {
    margin: 0;            
    line-height: 1.1;
}

.middle-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding: 50px;

    background-image: url("../assets/donation/annie-spratt-427340-unsplash@2x.png");
    background-size: 100%;
}

.donation-slogan {
    text-align: center;
    font: normal normal normal 32px/46px Flood Std;
    letter-spacing: 0px;
    color: white;
}


@media (min-width: 1024px) {
    
    .middle-section {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: flex-start;
    }

    .donation-slogan {
        order: 1;
        width: 30%;
        font: normal normal normal 72px/76px Flood Std;
    }

    .panel {
        order: 0;
        width: 40%;
    }
}